*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body{
    height: 100%;
    width: 100%;
}

.cursor{
    position: fixed;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}

#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}

.main{
    background-color: #0F0D0D;
    font-family: pp mori;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    position: fixed;
    mix-blend-mode: difference;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 30px;  /*top-bottom right-left */
    z-index: 102;
}

#nav>img{
    height: 23px;
}

#nav-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#nav-mid>h4{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

#nav-mid>h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1>h1{
    font-size: 8vw;
    font-family: pp mori;
    font-weight: 300;
    margin-left: 6vw;
    transform-origin: left;
}

.page1>h2{
    font-size: 8vw;
    font-family: pp mori;
    font-weight: 300;
    margin-left: 26vw;
}

.page1>video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2>h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: pp mori;
    color: #111;
}

.page2-container{
    padding-top: 5vw;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left{
    width: 38%;
}

.page2-left>h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
}

.page2-right{
    width: 24%;
}

.page2-right>p{
    font-size: 26px;
    color: #111;
}

.page2-right>button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
    font-weight: 300;
}

.page3{
    position: relative;
    min-height: 130vh;
    width: 100%;
    padding-top: 100px;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
    margin-left: 100px;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}

.page4{
    min-height: 120vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 100px;
}
.elem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.elem h1{
    font-size: 6.8vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
    margin: 10px;
}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem:hover h1{
    transform: translateY(-112%);
    color: #e1b3f4;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

.elem>img:nth-child(1){
    left: -5%;
}


.elem>img:nth-child(3){
    right: 2%;
}


.page5{
    position: relative;
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    padding:  100px;
}

.page5>h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}

.box>h3{
    font-weight: 700;
    color: #918787;
}

.box>h4{
    font-weight: 700;
    color: #918787;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 1.5px solid #dadada;
}

footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
}
